// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2017 Icenowy Zheng <icenowy@aosc.io>
// Copyright (C) 2022 Inventvm

/dts-v1/;
#include "sun50i-h5-nanopi-neo2.dtsi"
#include "sun50i-h5-cpu-opp.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Inventvm IVM0005";
	compatible = "inventvm,ivn0005", "friendlyarm,nanopi-neo2", "allwinner,sun50i-h5";

	reg_vdd_cpux: vdd-cpux {
		compatible = "regulator-gpio";
		regulator-name = "vdd-cpux";
		regulator-type = "voltage";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1300000>;
		regulator-ramp-delay = <50>; /* 4ms */
		/* Uncommenting this one makes the board die on boot */
		/* enable-gpios =  <&r_pio 0 8 GPIO_ACTIVE_HIGH>;*/ /* PL8 */
		gpios = <&r_pio 0 6 GPIO_ACTIVE_HIGH>; /* PL6 */
		gpios-states = <0x1>;
		states = <1100000 0x0
			  1300000 0x1>;
	};
};

&cpu0 {
	cpu-supply = <&reg_vdd_cpux>;
};

&i2s0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2s0_pins>;
};

&i2c0 {
	status = "okay";
	ivm6303_amp0: ivm6303-amp@6c {
		compatible = "inventvm,ivm6303-amp";
		reg = <0x6c>;
		status = "okay";
        };

	ivm6303_amp1: ivm6303-amp@6e {
		compatible = "inventvm,ivm6303-amp";
		reg = <0x6e>;
		status = "okay";
        };

	ivm6303_amp2: ivm6303-amp@6d {
		compatible = "inventvm,ivm6303-amp";
		reg = <0x6d>;
		status = "okay";
        };

	ivm6303_amp3: ivm6303-amp@6f {
		compatible = "inventvm,ivm6303-amp";
		reg = <0x6f>;
		status = "okay";
        };

};

&i2c0_pins {
	bias-pull-up;
};

&i2s1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1_pins>;
};

&pio {
	i2s0_pins: i2s0_pinmux {
		pins = "PA18", "PA19", "PA20", "PA21";
		function = "i2s0";
	};

	i2s1_pins: i2s1_pinmux {
		pins = "PG10", "PG11", "PG12", "PG13";
		function = "i2s1";
	};
};

&usb_otg {
       dr_mode = "peripheral";
};

&mmc1 {
	status = "disabled";
};

&mmc2 {
	status = "disabled";
};
